<!DOCTYPE html>
<div class="mat-card-cvr">
  <mat-card class="example-card">
    <div class="alert alert-dismissible alert-success" *ngIf="isLoggedIn">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Well done!</strong> You have been login Sucessfully!
    </div>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
        Login failed: {{ errorMessage }}
      </div>
      <div *ngIf="!isLoggedIn && btnClick">
        <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoggedIn" novalidate>

        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput type="username" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': f.username.invalid }">
          <mat-error *ngIf="f.username.errors">
            <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>
            <mat-error *ngIf="f.username.errors.minlength">Username cannot be less than 3 characters</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" class="form-control"
            [type]="hide ? 'password' : 'text'" [ngClass]="{ 'is-invalid': f.password.invalid }">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="f.password.errors">
            <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
            <mat-error *ngIf="f.password.errors.minlength">Password cannot be less than 6 characters</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!loginForm.valid">LOGIN</button>
        </mat-card-actions>

      </form>
    </mat-card-content>

  </mat-card>
  <br><br>
  <mat-card class="my-card" *ngIf="!isLoggedIn">
    <mat-card-content>Don't have an account? <a matLine routerLink="/register" md-colors="::::"><strong>Sign Up</strong></a>
    </mat-card-content>
  </mat-card>
</div>
