<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" [class.header_change]="header_variable">
  <a class="navbar-brand" href="#">GPW-EMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">HOME <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutUs">ABOUT</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/contactUs">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog">BLOG</a>
      </li>
      <li class="nav-item" *ngIf="isCustomer">
        <a class="nav-link" routerLink="/view-events">EVENTS</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isAdmin">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">EVENT</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" routerLink="/create-event">Create Event</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/view-event-table">View Events</a>
        </div>

      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!isLogin">LOGIN</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLogin">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">MY ACCOUNT</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" routerLink="/view-profile" *ngIf="isCustomer">View Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/view-bookings" *ngIf="isCustomer">My Bookings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" role="button" (click)="logoutUser()">LOGOUT</a>
        </div>
      </li>


      <li class="nav-item dropdown" *ngIf="isAdmin">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">SPEAKER</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" routerLink="/create-speaker">Add Speaker</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/view-speakers">View Speakers</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isAdmin">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">SCHEDULE</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" routerLink="/add-schedule">Add Schedule</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/view-schedules">View Schedules</a>
        </div>
      </li>

    </ul>
  </div>
</nav>
