<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GPW Event Management System</title>
    </head>
    <body>

        <header>
            <div class="hero-text-box">
                <h1>Event Planning is Hard.<br><br>We can help you.</h1>
            </div>
        </header>

        <section class="section-features">
            <div class="row">
                <h2 style="text-align: center; width: 100%;">A one-stop solution to your problems.</h2>
                <p class="long-copy">We are a full service event management firm that was created by pairing together our passion for business and events. We bring a fresh, unique approach to the event management industry.
                    Our team understands that a properly executed event can be leveraged to support an organization’s strategic vision, incorporated into a company’s marketing plan,
                    or used to build networks and client loyalty.</p>
            </div>
        </section>


        <section class="section-grid">
            <ul class="grid-showcase clearfix">
                <li>
                    <figure class="grid-photo">
                        <img src="assets/img/C111.jpg" alt="Corporate event">
                    </figure>
                </li>

                <li>
                    <figure class="grid-photo">
                        <img src="assets/img/P3.jpg" alt="Party event">
                    </figure>
                </li>

                <li>
                    <figure class="grid-photo">
                        <img src="assets/img/C22.jpg" alt="Corporate event">
                    </figure>
                </li>

                <li>
                    <figure class="grid-photo">
                        <img src="assets/img/P2.jpg" alt="Party event">
                    </figure>
                </li>
            </ul>

            <ul class="grid-showcase clearfix">
                <li>
                    <figure class="grid-photo">
                        <img src="assets/img/P32.jpg" alt="Party event">
                    </figure>
                </li>

                <li>
                    <figure class="grid-photo">
                        <img src="assets/img/C4.jpg" alt="Corporate event">
                    </figure>
                </li>

                <li>
                    <figure class="grid-photo">
                        <img src="assets/img/P4.jpg" alt="Party event">
                    </figure>
                </li>

                <li>
                    <figure class="grid-photo">
                        <img src="assets/img/C3.jpg" alt="Corporate event">
                    </figure>
                </li>
            </ul>
        </section>

        <section class="section-features">
            <div class="row">
                <h2 style="text-align: center; width: 100%;">Event Planning is our Passion.</h2>
                <p class="long-copy">We approach every project with meticulous attention to detail and obsessive precision. Regardless of size and scope, we treat your event like
                    a business with clear strategic goals, defined milestones, and a comprehensive plan to ensure that your event is delivered on time and on budget. We put
                    your organization first. We learn about your business, we focus on your challenges, and we plan events to support your goals.
                </p>
            </div>

            <div class="row">
                <div class="col span-1-of-4 box">
                     <mat-icon class="icon-big">offline_bolt</mat-icon>
                     <br>
                     <br>
                    <h3>20% Average Increase in Sponsorship Revenue.</h3>
                    <p>Our dedicated hardwork has led to a 20% average increase in sponsorship revenues of the companies.</p>
                </div>
                <div class="col span-1-of-4 box">
                      <mat-icon class="icon-big">face</mat-icon>
                      <br>
                      <br>
                    <h3>15% Average Increase in Attendees in the Events.</h3>
                    <p>The increase of attendees in the events has been fairly steady reaching an average of 15%.</p>
                </div>

                <div class="col span-1-of-4 box">
                    <mat-icon class="icon-big">card_travel</mat-icon>
                    <br>
                    <br>
                    <h3>Over 5 years of Hands-on Industry Experience. </h3>
                    <p>We have been here for a long time! We have a collective experience of 5 years+ and we intend to stay here forever.</p>
                </div>

                <div class="col span-1-of-4 box">
                    <mat-icon class="icon-big">card_membership</mat-icon>
                    <br>
                    <br>
                    <h3>More than 100 Successful Events all over India.</h3>
                    <p>We have arranged over 100 successful events and hundreds of happy people who joined us!</p>
                </div>
            </div>
        </section>


        <section class="section-steps">
            <div class="row">
                <h2 style="text-align: center; width: 100%;">How it works &mdash; Simple as 1, 2, 3</h2>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <div class="steps-box">
                        <div>
                            <p class="steps-heading">LEARN</p>
                            <br>
                            <p class="steps-subtitle">WE WANT TO GET TO KNOW YOU</p>
                        </div>
                        <div>
                            <ul>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>What is your business about?</li>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>What are your challenges?</li>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>What are the issues that your members or clients are dealing with?</li>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>What are your long term strategic plans</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col span-1-of-3">
                    <div class="steps-box">
                        <div>
                            <p class="steps-heading">BUILD</p>
                            <br>
                            <p class="steps-subtitle">LET US DO THE HEAVY LIFTING.</p>
                        </div>
                        <div>
                            <ul>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>The event will be on target and in line with your objectives</li>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>Leave the planning and management to us</li>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>From our network of preferred vendors, industry connections and years of experience,we can deliver a full service event management experience</li>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>Your job is to run your business; our job is to run your event</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col span-1-of-3">
                    <div class="steps-box">
                        <div>
                            <p class="steps-heading">DELIVER</p>
                            <br>
                            <p class="steps-subtitle">SIT BACK. RELAX.</p>
                        </div>
                        <div>
                            <ul>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>From meticulous management of facility details to AV, catering and
                                    on-site coordination, we ensure every detail is looked after</li>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>We will be managing your event using a strategic overall plan and a methodical management.</li>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>Knowing that every last detail is looked after will allow you to focus on your attendees and stakeholders at the event.</li>
                                <li><mat-icon class="icon-small">check_circle</mat-icon>You can rest easy while we look after the rest of the work for you.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section-features">
            <div class="row">
                <h2 style="text-align: center; width: 100%;">We currently provide these services</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-4 box">
                    <mat-icon class="icon-big">forum</mat-icon>
                    <br><br>
                    <h3>Project Management and Administration</h3>

                    <mat-icon class="icon-big">person</mat-icon>
                    <br><br>
                    <h3>Program Development and Speaker Management</h3>

                </div>
                <div class="col span-1-of-4 box">
                    <mat-icon class="icon-big">event_available</mat-icon>
                    <br><br>
                    <h3>Event Branding,Market and Communication</h3>

                    <mat-icon class="icon-big">business_center</mat-icon>
                    <br><br>
                    <h3>Tradeshow Sales,Support and Management</h3>
                </div>

                <div class="col span-1-of-4 box">
                    <mat-icon class="icon-big">assignment_ind</mat-icon>
                    <br><br>
                    <h3>Registration Management and Support</h3>

                    <mat-icon class="icon-big">group</mat-icon>
                    <br><br>
                    <h3>Volunteer Support and Management</h3>

                </div>

                <div class="col span-1-of-4 box">
                    <mat-icon class="icon-big">account_balance</mat-icon>
                    <br><br>
                    <h3>Facility, Production and Hotel Management</h3>

                    <mat-icon class="icon-big">star</mat-icon>
                    <br><br>
                    <h3>Post-Event Evaluation</h3>
                </div>
            </div>
        </section>


        <section class="section-testimonials">
            <div class="row">
                <h2 style="text-align: center; width: 100%;">Our customers can't live without us</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <blockquote>A great Event management Company! It organized a great event and that too in affordable budget. Really happy with the service. 10/10 recommend it!</blockquote>
                    <cite><img src="assets/img/customer 1.jpg" alt="Sayyed Ansari">Sayyed Ansari</cite>
                </div>

                <div class="col span-1-of-3">
                    <blockquote>Inexpensive, simple as well as so much fun! We have done a few events for our company and we are very much satisfied. Great service!</blockquote>
                    <cite><img src="assets/img/customer 2.jpg" alt="Megha Srivastava">Megha Srivastava</cite>
                </div>

                <div class="col span-1-of-3">
                    <blockquote>I was looking for an easy and hassle-free event management company. I tried a lot of them and ended up here. Best event management service here.</blockquote>
                    <cite><img src="assets/img/customer-3.jpg" alt="Milton Chapman">Milton Chapman</cite>
                </div>
            </div>
        </section>

    </body>
</html>
