<!DOCTYPE html>
<div class="mat-card-cvr">
  <mat-card class="example-card">

    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="!isSuccessful">

              <mat-form-field class="full-width">
                  <mat-label>First Name</mat-label>
                  <input matInput type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': f.firstName.errors }">
                  <mat-error *ngIf= "f.firstName.errors">
                    <mat-error *ngIf="f.firstName.errors.required">First Name is required</mat-error>
                    <mat-error *ngIf="f.firstName.errors.maxlength">First Name cannot have more than 10 characters</mat-error>
                    <mat-error *ngIf="f.firstName.errors.pattern">First name should contain only characters</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                  <mat-label>Last Name</mat-label>
                  <input matInput type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': f.lastName.errors }">
                  <mat-error *ngIf="f.lastName.errors">
                    <mat-error *ngIf="f.lastName.errors.required">Last Name is required</mat-error>
                    <mat-error *ngIf="f.lastName.errors.maxlength">Last Name cannot have more than 10 characters</mat-error>
                    <mat-error *ngIf="f.lastName.errors.pattern">Last name should contain only characters</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input matInput type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.errors }">
                  <mat-error *ngIf="f.email.errors">
                    <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
                    <mat-error *ngIf="f.email.errors.pattern">Email must be a valid email address</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                  <mat-label>Mobile number</mat-label>
                  <input matInput type="text" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': f.mobile.errors }">
                  <mat-error *ngIf="f.mobile.errors">
                    <mat-error *ngIf="f.mobile.errors.required">Mobile number is required</mat-error>
                    <mat-error *ngIf="f.mobile.errors.maxlength">Mobile Number cannot be more than 10 digits</mat-error>
                    <mat-error *ngIf="f.mobile.errors.minlength">Mobile Number cannot be less than 10 digits</mat-error>
                    <mat-error *ngIf="f.mobile.errors.pattern">Mobile number not valid</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                      <mat-label>Username</mat-label>
                      <input matInput type="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': f.username.errors }">
                      <mat-error *ngIf="f.username.errors">
                        <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>
                        <mat-error *ngIf="f.username.errors.minlength">Username cannot be less than 3 characters</mat-error>
                    </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password" class="form-control" [type]="hide ? 'password' : 'text'" [ngClass]="{ 'is-invalid': f.password.errors }">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="f.password.errors">
                    <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
                    <mat-error *ngIf="f.password.errors.minlength">Password cannot be less than 6 characters</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput type="password" formControlName="confirmpassword" class="form-control" [type]="hide ? 'password' : 'text'" [ngClass]="{ 'is-invalid': f.confirmpassword.errors }">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="f.confirmpassword.errors">
                    <mat-error *ngIf="f.confirmpassword.errors.required">Confirm Password is required</mat-error>
                    <mat-error *ngIf="f.confirmpassword.errors.mustMatch">Passwords must match</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-card-actions>
                  <button mat-raised-button color="primary" [disabled] = "!registerForm.valid">REGISTER</button><br><br>
                  <button mat-raised-button type="reset" (click)="onReset()" color="warn">CANCEL</button>
              </mat-card-actions>

              <mat-card-footer>By signing up, you agree to our Terms , Data Policy and Cookies Policy.</mat-card-footer>
              <div class="alert alert-warning" *ngIf="isSignUpFailed">
                  Signup failed!<br/>{{ errorMessage }}
              </div>
          </form>
      </mat-card-content>
  </mat-card>

  <br><br>

  <mat-card class="my-card">
      <mat-card-content>Have an account? <a matLine routerLink="/login" md-colors="::::"><b>Log in</b></a></mat-card-content>
  </mat-card>
</div>

