<!DOCTYPE html>
<div fxLayoutAlign="center center" id="flex" [class.style_change]="style_variable">
  <mat-card fxFlex="30">

    <div class="alert alert-dismissible alert-success" *ngIf="success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Well done! Event Sucessfully created</strong>.
    </div>
    <div class="alert alert-dismissible alert-danger" *ngIf="errorOccurs">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Oh snap!</strong> {{errorMsg}} and try submitting again.
    </div>
    <mat-card-header>
      <mat-card-title class="text-center">Add Event</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!success && btnClick">
        <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
      </div>

      <form name="form" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend></legend>
          <div class="form-group">
            <label for="thoughtPaper">Event Image</label>
            <input type="file" required class="form-control-file" name="eventImage" accept="image/*"
              aria-describedby="fileHelp" #inputImageFile (change)="showPreview($event)" />
            <small id="fileHelp" class="form-text text-muted">Select Only image file.</small>

          </div>
          <div class="image-preview mb-3 form-group" *ngIf="previewUrl && previewUrl !== ''" style="padding: 0%;">
            <img mat-card-image [src]="previewUrl" class="responsive-image" alt="no image"/>
          </div>
        </fieldset>
        <fieldset>
          <legend></legend>
          <div class="form-group">
            <label for="eventTitle">Event Title</label>
            <input matInput formControlName="eventTitle" type="text" class="form-control" name="eventTitle"
              placeholder="Enter Event Title"
              [class.is-invalid]="eventForm.get('eventTitle').invalid && eventForm.get('eventTitle').touched">
            <div class="text-danger"
              [class.d-none]="eventForm.get('eventTitle').valid || eventForm.get('eventTitle').untouched ">
              Sorry, that event Title is required!
            </div>
          </div>
          <div class="form-group">
            <label for="eventDescription">Event Description</label>
            <textarea matInput formControlName="eventDescription" class="form-control" name="eventDesc" rows="3"
              placeholder="Enter Event Description"
              [class.is-invalid]="eventForm.get('eventDescription').invalid && eventForm.get('eventDescription').touched">

                      </textarea>
            <div class="text-danger"
              [class.d-none]="eventForm.get('eventDescription').valid || eventForm.get('eventDescription').untouched ">
              Sorry, that event Description is required!
            </div>
          </div>
          <div class="form-group">
            <label for="eventCategory">Select Event Category</label>

            <select formControlName="eventCategory" name="category" class="form-control"
              [class.is-invalid]="eventForm.get('eventCategory').invalid && eventForm.get('eventCategory').touched">
              <option disabled selected value>Select Category</option>
              <option *ngFor="let category of categoryList" [value]="category">{{category}}</option>
            </select>
            <div class="text-danger"
              [class.d-none]="eventForm.get('eventCategory').valid || eventForm.get('eventCategory').untouched ">
              Sorry, that event category is required!
            </div>
          </div>
          <div class="form-group">
            <label for="eventLocation">Select Location</label>

            <select formControlName="eventLcation" name="location" class="form-control"
              [class.is-invalid]="eventForm.get('eventLcation').invalid && eventForm.get('eventLcation').touched">
              <option disabled selected value>Select Location</option>
              <option *ngFor="let location of locationList" [value]="location">{{location}}</option>
            </select>
            <div class="text-danger"
              [class.d-none]="eventForm.get('eventLcation').valid || eventForm.get('eventLcation').untouched ">
              Sorry, that event location is required!
            </div>
          </div>

          <div class="form-group">
            <label for="videoUrl">Event YouTube Embedded Video Url</label>
            <input matInput formControlName="eventVideoUrl" class="form-control" name="videoUrl"
              placeholder="Enter Video Url Id"
              [class.is-invalid]="eventForm.get('eventVideoUrl').invalid && eventForm.get('eventVideoUrl').touched">
            <div class="text-danger"
              [class.d-none]="eventForm.get('eventVideoUrl').valid || eventForm.get('eventVideoUrl').untouched ">
              Sorry, that event youtube video url id is required!
            </div>
          </div>
          <div class="form-group">
            <label for="thoughtPaper">Event Thought Paper</label>
            <input type="file" required class="form-control-file" accept="application/msword, application/vnd.ms-powerpoint,
                      text/plain, application/pdf" name="thoughtPaper" #inputThoughtPaperFile
              aria-describedby="fileHelp" (change)="onChangeFile($event)">
            <small id="fileHelp" class="form-text text-muted">Select Only doc/pdf file.</small>
          </div>
          <div class="btn-group btn-group-toggle btn-lg btn-block" data-toggle="buttons">
            <button type="submit" class="btn btn-primary"
              [disabled]="imagefileData==null || thoughtPaperData==null || eventForm.invalid">ADD</button>
            <button type="reset" class="btn btn-secondary">RESET</button>
          </div>
        </fieldset>
      </form>
    </mat-card-content>
  </mat-card>
</div>
